@font-face {
    font-family: 'Amoung-Us';
    src: url('./assets/fonts/among-us.ttf') format('truetype');
}

.Navbar {
    font-family: 'Amoung-us';
    font-size: 40px;
    font-weight: bold;
    color:white;
    background-color: black;
    border: 1px solid white;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



